.benefits {
    background: $colorGreyLight;
    width: 100%;
    min-height: 100vh;
    margin: 50px 0;

    &-title {
        padding: 25px;
        font-family: $fontHeaders;
        font-size: 1.75em;

        &1 {
            padding-top: 50px;
        }
    }

    &-text {
        padding: 25px;
        font-family: $fontOther;
        font-size: 1em;
        color: black;
    }

    &-img-bg {
        align-self: center;
        margin-top: 25px;
    }
}

.benefits-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    background: white;
    margin: 25px;
    max-width: 90%;
    border-radius: 6px;
}

.img-bg {

    // macbook background    
    &1 {
        background: $colorReddishAkcent;
        height: 80px;
        width: 80px;
        border-radius: 20%;
        position: relative;
        left: 25%;
        transform: translate(-50%) rotate(45deg);
    }

    // phone background
    &2 {
        background: $colorPrimary;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    // trumpet background
    &3 {
        background: $colorGreenAkcent;
        width: 100%;
        height: 100px;
        border-radius: 6px;
    }
}

.benefits-icon {

    // macbook icon
    &1 {
        height: 100px;
        width: 150px;
        position: relative;
        left: 60%;
        top: 20%;
        transform: rotate(-45deg) translate(-50%, -50%);
    }

    // phone icon
    &2 {
        width: 100px;
        height: 100px;
        position: relative;
        left: 60%;
        top: 60%;
        transform: translate(-50%, -50%);

    }

    // trumpet icon
    &3 {
        width: 150px;
        height: 150px;
        position: relative;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 580px) {
    .benefits-content {
        flex-direction: row-reverse;
        min-height: 250px;
    }

    .benefits-icon {
        &1 {
            height: 130px;
            width: 200px;
        }

        &2 {
            height: 150px;
            width: 150px;
        }
        &3{
            transform: translate(-50%, 0);
        }
    }

    .img-bg {
        &1 {
            left: 0;
            top: 0;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 100px;
            height: 100px;
        }

        &2 {
            width: 150px;
            height: 150px;
            transform: translate(50%, 0%);
        }

        &3 {
            height: 100%;
            margin: 0;
        }
    }

    .benefits-txt-container {
        max-width: 50%;
        background: white;
        margin-right: 25px;
        border-radius: 6px;
    }

    .benefits-art {
        &2 {
            flex-direction: row;
        }

        &3 {
            flex-direction: row;
            background: $colorGreyLight;
        }
    }
}